 h1{
     text-align: center;
 }
 .buttons{
     display: flex;
     flex-direction: row;
     justify-content: center;
     flex-wrap: nowrap;
     margin: 15px auto;
     
 }
.questionBox, .question, .answer{
    border: 1px solid black;
}
.question{
    height: 300px;
    width: 500px;
    align-content: center;
    margin: 15px auto;
}
.answer{
    width: 500px;
    height: 50px;
    align-content: center;
    margin: 5px auto;
}
.answer4{
    margin-bottom: 15px;
}
.questionBox{
    display: none;
}
.questionBoxOpen{
    height: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin: 0 auto;
}
.gameOver{
    display: none;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    margin: 15px auto;
}
.correctAnswer{
    display: none;
}
.nextQuestion{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    margin: 15px auto;
}
.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.4);
    /* margin-bottom: 100%; */
    animation-duration: .5s;
    animation-name: slideUp;
    text-align: center;
    align-content: center;
}
.modalOpen{
    display: block;
}
.modalClose{
    animation-duration: .5s;
    animation-name: slideOut;
}
.modalContent{
    background-color: #fefefe;
    margin: 15% auto 0 auto;
    padding: 50px;
    border: 1px solid #888888;
    width: 50%;
}
.modalText{
    padding: 50px;
}
@keyframes slideUp {
    from {
      margin-top: 100%;
      height: 100%; 
    }
  
    to {
      margin-bottom: 0%;
      height: 100%;
    }
  }
@keyframes slideOut{
    from{
        margin-bottom: 0%;
        width: 100%;
    }
    to{
        margin-top: 100%;
        width: 100%;
    }
}
@media screen and (max-width: 800px){
    .smallQuestion, .smallAnswer{
        width: 75%;
    }
}