 body, button{
    font-family: 'Josefin Sans', sans-serif;
 }
 .score{
     text-align: center;
     color: whitesmoke;
     margin: 0 auto;
 }
 .startBackground, .endBackground{
    background-image: url(https://images.unsplash.com/photo-1579999284976-73d606de1161?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1664&q=80);
}
 .easyBackground{
    background-image: url(https://images.unsplash.com/photo-1553883016-25462d1fbb18?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1789&q=80);
 }
 .mediumBackground{
    background-image: url(https://images.unsplash.com/photo-1533388021507-c0524ab8b0bf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80);
 }
 .hardBackground{
    background-image: url(https://i.imgur.com/tFEUL8h.png);
 }
 .randomBackground{
    background-image: url(https://cdn.pixabay.com/photo/2016/12/17/19/24/weather-1914185_1280.jpg);
 }
 .startBackground, .mediumBackground, .easyBackground, .hardBackground{
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
 }
 .startBackground, .mediumBackground, .easyBackground, .hardBackground, .randomBackground{
    background-repeat: no-repeat;
 }
 .randomBackground{
     background-size: cover;
     background-position: bottom;
 }
 button{
    background-color: #043316;
    border: 1px solid whitesmoke;
    color: whitesmoke;
    font-size: 20px;
    padding: 15px;
    width: 150px;
 }
 h1{
    font-size: 48px;
 }
 .numberQuestion{
     font-size: 20px;
     display: block;
     margin-top: 5px;
 }
 h1, .numberQuestion{
     text-align: center;
     color: whitesmoke;
     text-shadow: 1px 1px gray;
     margin-bottom: 5px;
 }
 .numberButtons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 15px auto;
 }
 .numberButtonsOff{
     display: none;
     margin: 0;
 }
 .tenButtons, .fifteenButtons, .twentyButtons{
     display: none;
     flex-direction: row;
     justify-content: center;
     flex-wrap: nowrap;
     margin: 15px auto;
 }
 .easyTen, .mediumTen, .hardTen, .easyFifteen, .mediumFifteen, .hardFifteen, .easyTwenty, .mediumTwenty, .hardTwenty, .ten, .fifteen{
     margin-right: 5px;
 }
 .mediumTen, .hardTen, .randomTen, .mediumFifteen, .hardFifteen, .randomFifteen, .mediumTwenty, .hardTwenty, .randomTwenty, .fifteen, .twenty{
     margin-left: 5px;
 }
.question, .answer{
    border: 1px solid black;
    background-color: #fefefe;
}
.question, .answer{
    text-align: center;
    justify-content: center;
    align-content: center;
}
.question{
    height: 300px;
    width: 500px;
    margin: 15px auto;
    font-size: 24px;
}
.answer{
    width: 500px;
    max-height: 50px;
    margin: 5px auto;
    padding-top: 15px;
    padding-bottom: 15px;
}
.questionText{
    height: 100px;
    width: 300px;
    margin: 100px auto;
}
.answer4{
    margin-bottom: 15px;
}
.questionBox{
    display: none;
    margin-top: 5px;
    margin-bottom: 5px;
}
.questionBoxOpen{
    height: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin: 0 auto;
}
.gameOver{
    display: none;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    margin: 15px auto;
}
.correctAnswer{
    display: none;
}
.nextQuestion{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    margin: 15px auto;
}
.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.4);
    /* margin-bottom: 100%; */
    animation-duration: .5s;
    animation-name: slideUp;
    text-align: center;
    align-content: center;
}
.modalOpen{
    display: block;
}
.modalClose{
    animation-duration: .5s;
    animation-name: slideOut;
}
.modalContent{
    background-color: #fefefe;
    margin: 15% auto 0 auto;
    padding: 50px;
    border: 1px solid #888888;
    width: 50%;
}
.modalText{
    padding: 50px;
    font-size: 24px;
    font-weight: 800;
}
@keyframes slideUp {
    from {
      margin-top: 100%;
      height: 100%; 
    }
  
    to {
      margin-bottom: 0%;
      height: 100%;
    }
  }
@keyframes slideOut{
    from{
        margin-bottom: 0%;
        width: 100%;
    }
    to{
        margin-top: 100%;
        width: 100%;
    }
}
@media screen and (max-width: 800px){
    .smallQuestion, .smallAnswer, .smallQuestionText{
        width: 100%;
    }
    .smallQuestion{
        margin-top: 35px;
        height: 100%;
    }
    .smallQuestionText{
        font-size: 16px;
        padding: 0;
        margin: 5px auto;
        text-align: center;
    }
    .smallAnswer{
        font-size: 16px;
    }
    .smallBackground{
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
        height: 100vh;
    }
    .smallButtons{
    font-size: 16px;
    padding: 5px;
    width: 100px;
    margin-top: 40px;
    }
}